* {
    box-sizing: border-box;

}
body {
  background-color: #F6F6F6;
  font-family: Helvetica, sans-serif;
}
#target {
  width: 100%;
  height: 250px;
  background-color: #A6ACEC;
  padding: 2em;
  text-align: center;
}

.msg {
  
  width: 60%;
  margin: auto;
}